<ion-content>
  
  <div class="container">
    <ion-title class="login-title">Login</ion-title>
    <form (ngSubmit)="login()">
      <ion-item lines="none" class="input-box">
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-box">
        <ion-input type="password" placeholder="Senha" [(ngModel)]="senha" name="senha" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button">Acessar</ion-button>
    </form>

    <p class="forgot-password" (click)="goToEsqueciSenha()">Esqueci minha senha</p>

    <div class="divider">
      <span>ou Logar por</span>
    </div>

    <div class="social-buttons">
      <ion-fab-button color="google" (click)="loginWithGoogle()">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="loginWithFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="apple" (click)="loginWithApple()">
        <ion-icon name="logo-apple"></ion-icon>
      </ion-fab-button>
    </div>
    <div class="signup-text">
      <span class="gray-text">Novo no AllTask?</span>
      <span class="blue-text" (click)="goToCadastro()"> Cadastre-se</span>
    </div>
    
  </div>
</ion-content>
