<ion-content>
  <div class="container">
    <ion-title class="cadastro-title">Cadastro</ion-title>
    <form (ngSubmit)="register()">
      <ion-item lines="none" class="input-box">
        <ion-input type="text" placeholder="Nome" [(ngModel)]="nome" name="nome" required></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-box">
        <ion-input type="text" placeholder="Sobrenome" [(ngModel)]="sobrenome" name="sobrenome" required></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-box">
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-box">
        <ion-input type="password" placeholder="Senha" [(ngModel)]="senha" name="senha" required></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-box">
        <ion-input type="password" placeholder="Confirmar Senha"    ></ion-input>
        <!-- [(ngModel)]="senha" name="senha" required -->
      </ion-item>



      <ion-button expand="block" type="submit" class="cadastro-button">Cadastre-se      </ion-button>

    </form>
    <div class="signup-text">
      <span class="gray-text">Voltar para a tela de Login?</span>
      <span class="blue-text" (click)="goToLogin()"> Clique Aqui!</span>
    </div>


  </div>




</ion-content>







<!-- <ion-content>
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sobrenome</ion-label>
      <ion-input type="text" [(ngModel)]="sobrenome" name="sobrenome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" name="senha" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Cadastrar</ion-button>
    <ion-button expand="full" color="light" (click)="goToLogin()">Voltar para Login</ion-button>
  </form>
</ion-content>
 -->